{{> TabHeader}}
<div class="tab-content">
    <div class="tab-pane show active">
        <div class="card" style="border-top:none;border-radius:0;">
                <div class="card-body table-responsive">
                    <h3>
                        {{#if IsCreate}}
                        Vytvoření nové záložky
                        {{else}}
                        Editace záložky {{Name}}
                        {{/if}}
                    </h3>
                    <hr />

                    <input form="TabForm__{{Options.Identifier}}" type="hidden" name="postContext" value="{{PostContext}}" />

                    <div class="form-group">
                        <label>Název záložky</label>
                        <input form="TabForm__{{Options.Identifier}}" name="tabname" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Popis</label>
                        <textarea form="TabForm__{{Options.Identifier}}" name="tabdescription" class="form-control"></textarea>
                    </div>

                </div>
                <div class="card-footer border-top bg-light">
                    <button form="TabForm__{{Options.Identifier}}" type="submit" class="btn btn-primary float-right">💾 Uložit</button>
                </div>
            
        </div>
    </div>
</div>
<form id="TabForm__{{Options.Identifier}}" method="post" action="{{tab_form_action}}"></form>